<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSEventsUsageDescription</key>
	<string>&quot;This app will add pet-related reminders to your Apple Calendar.&quot;</string>
	<key>UIAppFonts</key>
	<array>
		<string>Jersey10.ttf</string>
	</array>
</dict>
</plist>
